<ng-template #grid>
	<div class="grid grid-{{axisClass()}} {{gutterClasses()}} {{blockClasses()}} {{collapseClasses()}} {{alignmentClasses()}}">
		<ng-content></ng-content>
	</div>
</ng-template>
<ng-container *ngIf="visible">
	<ng-container *ngIf="!hasContainer()">
		<ng-container *ngTemplateOutlet="grid"></ng-container>
	</ng-container>
	<ng-container *ngIf="hasContainer()">
		<div class="{{containerClass()}}">
			<ng-container *ngTemplateOutlet="grid"></ng-container>
		</div>
	</ng-container>
</ng-container>
